.column {
  min-width: 280px;
  width: 280px;
  margin-right: 24px;

  .columnTitle {
    color: var(--med-grey);
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2.4px;
    font-weight: 600;

    padding-bottom: 24px;
  }
}

.newColumn {
  height: 800px;
  min-width: 280px;
  width: 280px;
  margin-top: 39px;
  border-radius: 6px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 600;
  font-size: 24px;
  color: var(--med-grey);

  background: linear-gradient(
    180deg,
    #e9effa 0%,
    rgba(233, 239, 250, 0.5) 100%
  );
}
