.dialogOverlay {
  background-color: var(--black);
  opacity: 0.5;
  position: fixed;
  inset: 0;
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.dialogContent {
  background-color: white;
  border-radius: 6px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 33vw;
  max-width: 500px;
  max-height: 85vh;
  padding: 32px;
  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);

  &:focus {
    outline: none;
  }
}

.dialogHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.dialogTitle {
  font-weight: 600;
  font-size: 18px;
  color: var(--black);
}

.elipButton {
  display: flex;
  background: none;
  border: none;
  margin-left: 24px;
  width: 10px;
}

.dialogDescription {
  margin-bottom: 24px;
}

.subtaskHeader {
  font-weight: 700;
  font-size: 14px;
  color: var(--med-grey);

  margin-bottom: 16px;
}

.subtasks {
  .subtask {
    display: flex;
    align-items: center;
    height: 40px;
    background: var(--bg-light);
    border-radius: 4px;
    margin-bottom: 8px;
    padding: 12px;

    &.isCompleted {
      label {
        color: var(--med-grey);
        text-decoration-line: line-through;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  button {
    background: var(--white);
    border: 1px solid rgba(130, 143, 163, 0.248914);
    border-radius: 2px;

    &[data-state="checked"] {
      border-color: var(--main-purple);
      background-color: var(--main-purple);
    }
  }

  label {
    cursor: pointer;
    margin-left: 16px;
    font-weight: 700;
    font-size: 14px;
    color: var(--black);
  }
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
