.task {
  padding: 24px 16px;
  background-color: var(--white);
  box-shadow: 0px 4px 6px rgba(54, 78, 126, 0.101545);
  border-radius: 8px;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  .taskTitle {
    color: var(--black);
    font-weight: 600;
    font-size: 15px;

    margin-bottom: 8px;
  }

  .subtask {
    color: var(--med-grey);
    font-weight: 600;
    font-size: 12px;
  }
}
